h1{
	color: #003366;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15vh;
}
h2{
	color: powderblue;
	font-family: 'Muli', sans-serif;
	font-size: 6vh;
}
h3{
	color: white;
	font-family: 'Muli', sans-serif;
	font-size: 3vh;
}
section{
	background-color: orange;
	display: inline-block;
	width: 100vw;
	text-align: center;
}
.subsection{
	background-color: #FF4500;
}
*{
	margin: 0;
}
.emptySection{
	height: 5%;
}
